/*
    Document   : css/styles．css
    Created on : 2014-12-01 05:11 AM
    Author     : Justin Tadlock
    Description:
    Purpose of the stylesheet follows.
*/
*
{
    font-size: 100%;
    font-family:"Times New Roman", sans-serif;
}

body
{
    display:block;
}

header, nav, footer
{
    background-color: rgb(224,255,213);
}
.nav > li > a:hover,
.nav > li > a:active{   
    background-color:#f4d5ff !important;
}
article
{
    width:90%;
    
    margin: 0 auto;
    
    text-align:center;
    
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
article p
{
    text-align:justify;
    
    margin: 0 auto !important;
    padding: 0.5em 2em 0;
}
article p:last-child
{
    padding-bottom:2em;
}

strong
{
    margin: 1em 0 0.5em;
    padding: 1em 0 0.5em !important;
    
    color:green;
}

footer
{
    width: 100%;
    bottom: 0;
    
    margin: 0 auto;
    
    text-align:center;
    
    clear:both;
    
    border-top: 1px solid black;
}
.icon-bar
{
    background-color: black;
}

.main
{
    padding-top:3em;
}
.main h1 small
{   
    text-align:right;
}

.blockText p
{
    max-width: 26em;
    
    text-align:center;
    font-size: 80%;
    font-family:"Courier New";
    
    margin: 0 auto;
}
.formCheckBoxes
{
    max-width: 20em;
    margin:0 auto;
}
.formCheckBoxes *
{
    max-width: 30em;
    
    text-align:center;
    font-size: 80%;
    font-family:"Courier New";
    
    margin: 0 auto;
}

.splashPage h1
{
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.splashImage
{
    max-height: 500px;
    margin: 0 auto;
    
    border-radius:5px;
}
article h1, article h2, article h3, article h4
{
    margin:0;
    padding: 0.5em 0.7em;
    
    background-color: rgb(249, 234, 193);
    
    border-radius:5px;
}

.sampleReport 
{
    margin: 0 auto;
    
    text-align:center;
    
    clear:both;
}
.sampleReport iframe
{
    width:100%;
    min-width: 20em;
    max-width: 60em;
    
    height:100%;
    min-height: 40em;
    max-height: 60em;
    
    margin: 0 auto;
}

.logoImg
{
    max-height: 30px;
}

.navbar-nav > li > a {
    font-size: 12pt;
}
.nav > li.active {
    background-color: hsla(285, 100%, 93%, 0.6);
}

.smallImg
{
    max-width: 200px;
    max-height: 200px;
    
    box-shadow: 5px 5px 0 black;
    
    margin: 0 auto;
    
    border-radius: 5px;
}
.smallText
{
    font-size: 90%;
}

.lgImage
{
    max-width: 300px;
    margin: 0 auto;
}

.splashText
{
    max-width:60em;
}
.splashText h1
{
    border-radius: 5px;
}

.contactForm
{
    width:95%;
    max-width: 20em;
    
    margin: 0 auto;
}

.redText
{
    color: red;
}

.inline-block
{
    display:inline-block;
}

.col-md-4 small
{
    padding:3em 0 !important;
}

.provideColumn
{
    padding:0 10px;
    
    text-align: left;
    
    background-color: rgb(201, 191, 147);
    
    border-radius:5px;
}
.provideColumn ul
{
    max-width: 20em;
    
    margin: 0 auto;
}
.provideColumn *
{
    color:black;
}

.providingDescriptions strong
{
    text-align:center;
    color:green;
    
    font-weight:bold;
}
.providingDescriptions p
{
    max-width: 25em;
    text-align: justify;
}

.orderForm
{
    max-width: 35em;
    
    margin:0 auto 3em;
    padding: 1em;
    
    text-align:left;
    
    box-shadow: 5px 5px 10px rgb(249, 234, 193);
    border-radius:5px;
    
    background-color: #f5ffd5;
}
.subTotal{
    font-size: 17px!important;
    line-height: 1.255!important;
    font-family: Arial,sans-serif;
    text-rendering: optimizeLegibility;
    color:#b12704!important;
}
.priceLabel{
    font-size: 17px!important;
    line-height: 1.255!important;
    font-family: Arial,sans-serif;
    text-rendering: optimizeLegibility;
}

.formCategory
{
    margin: 0 auto;
    padding: 0;
    
    text-align:center;
    
    background-color: initial !important;
}

 strong
{
    text-align:center;
    color:green;
    
    font-weight:bold;
}
.providingDescriptions p
{
    max-width: 25em;
    text-align: justify;
}

#footer
{
    margin:0 auto;
    padding: 0 0 0.5em;
}

/*
    Document   : css/styles．css
    Created on : 2014-12-01 05:11 AM
    Author     : Justin Tadlock
    Description:
    Purpose of the stylesheet follows.
*/
*
{
    font-size: 100%;
    font-family:"Times New Roman", sans-serif;
}

body
{
    display:block;
}

header, nav, footer
{
    background-color: rgb(224,255,213);
}
.nav > li > a:hover,
.nav > li > a:active{   
    background-color:#f4d5ff !important;
}
article
{
    width:90%;
    
    margin: 0 auto;
    
    text-align:center;
    
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
article p
{
    text-align:justify;
    
    margin: 0 auto !important;
    padding: 0.5em 2em 0;
}
article p:last-child
{
    padding-bottom:2em;
}

strong
{
    margin: 1em 0 0.5em;
    padding: 1em 0 0.5em !important;
    
    color:green;
}

footer
{
    width: 100%;
    bottom: 0;
    
    margin: 0 auto;
    
    text-align:center;
    
    clear:both;
    
    border-top: 1px solid black;
}
.icon-bar
{
    background-color: black;
}

.main
{
    padding-top:3em;
}
.main h1 small
{   
    text-align:right;
}

.blockText p
{
    max-width: 26em;
    
    text-align:center;
    font-size: 80%;
    font-family:"Courier New";
    
    margin: 0 auto;
}
.formCheckBoxes
{
    max-width: 20em;
    margin:0 auto;
}
.formCheckBoxes *
{
    max-width: 30em;
    
    text-align:center;
    font-size: 80%;
    font-family:"Courier New";
    
    margin: 0 auto;
}

.splashPage h1
{
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.splashImage
{
    max-height: 500px;
    margin: 0 auto;
    
    border-radius:5px;
}
article h1, article h2, article h3, article h4
{
    margin:0;
    padding: 0.5em 0.7em;
    
    background-color: rgb(249, 234, 193);
    
    border-radius:5px;
}

.sampleReport 
{
    margin: 0 auto;
    
    text-align:center;
    
    clear:both;
}
.sampleReport iframe
{
    width:100%;
    min-width: 20em;
    max-width: 60em;
    
    height:100%;
    min-height: 40em;
    max-height: 60em;
    
    margin: 0 auto;
}

.logoImg
{
    max-height: 30px;
}

.navbar-nav > li > a {
    font-size: 12pt;
}
.nav > li.active {
    background-color: hsla(285, 100%, 93%, 0.6);
}

.smallImg
{
    max-width: 200px;
    max-height: 200px;
    
    box-shadow: 5px 5px 0 black;
    
    margin: 0 auto;
    
    border-radius: 5px;
}
.smallText
{
    font-size: 90%;
}

.lgImage
{
    max-width: 300px;
    margin: 0 auto;
}

.splashText
{
    max-width:60em;
}
.splashText h1
{
    border-radius: 5px;
}

.contactForm
{
    width:95%;
    max-width: 20em;
    
    margin: 0 auto;
}

.redText
{
    color: red;
}

.inline-block
{
    display:inline-block;
}

.col-md-4 small
{
    padding:3em 0 !important;
}

.provideColumn
{
    padding:0 10px;
    
    text-align: left;
    
    background-color: rgb(201, 191, 147);
    
    border-radius:5px;
}
.provideColumn ul
{
    max-width: 20em;
    
    margin: 0 auto;
}
.provideColumn *
{
    color:black;
}

.providingDescriptions strong
{
    text-align:center;
    color:green;
    
    font-weight:bold;
}
.providingDescriptions p
{
    max-width: 25em;
    text-align: justify;
}


.formCategory
{
    margin: 0 auto;
    padding: 0;
    
    text-align:center;
    
    background-color: initial !important;
}

 strong
{
    text-align:center;
    color:green;
    
    font-weight:bold;
}
.providingDescriptions p
{
    max-width: 25em;
    text-align: justify;
}

#footer
{
    margin:0 auto;
    padding: 0 0 0.5em;
}


/* Bootstrap Undo's */
.form-horizontal .radio, .form-horizontal .checkbox {
min-height: 16px;
}
