<br />

<address>
    <span class="text-center text-bold">
        <strong>NORTH FLORIDA HOME INSPECTIONS</strong>
        <p class="text-center">
            1503 14th Court, Lynn Haven, Florida <br />
            <strong>Phone:</strong> (850) 265-9006 <br />
            <small><a href="TermsConditions.html">Terms of Use</a></small>
        </p>
    </span>
</address>
