        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo">
                    <a class="navbar-brand" target="_self" href="index.html">
                        <img  src="images/NFHI.png" alt="North Florida Home Inspections" class="image img-responsive logoImg" />
                    </a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="aboutUs.html">About Us</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Services <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="services.html">Services and Prices</a></li>
                            <li><a href="order.html">Place an Order</a></li>
                        </ul>
                    </li>
                    <li><a href="ContactUs.html">Contact Us</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            More Info. <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="generalInformation.html">General Information</a></li>
                            <li><a href="report.html">Sample Report</a></li>
                            <li><a href="FAQs.html">FAQs</a></li>
                            <li class="divider"></li>
                            <li><a href="TermsConditions.html">Terms and Conditions</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
<script src="js/activeNavbar.js"></script>     